<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsIm4-QBAQuy0gl5ENTuqQajvLoIEmwYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1088133777127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.curalog</string>
	<key>PROJECT_ID</key>
	<string>curalog-3bc88</string>
	<key>STORAGE_BUCKET</key>
	<string>curalog-3bc88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088133777127:ios:8602aa5628bef7093e0442</string>
</dict>
</plist>